<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'


const errorMessage = ref<string>('')
const resMessage = ref<number>()
const carInput = ref({
  Brand: -1,
  Year: -1,
  Model: -1,
  Engine: -1,
  Kilometres: 0.0
})

const predictPriceCar = async () => {
  try {
    const response = await axios.post('http://localhost:8000/car/predict/', carInput.value)
    console.log('Predicted Price Car:', response.data)
    // แปลงค่าที่ได้รับมาเป็นตัวเลข
    resMessage.value = parseFloat(response.data.Price)
    errorMessage.value = ''
  } catch (error) {
    console.error('Failed to predict Price Car:', error)
    errorMessage.value = 'Failed to predict Price Car'
  }
}

</script>
<template>
  <div class="container">
    <img
      src="https://media.discordapp.net/attachments/889368640275759175/1224388972747161751/470186.jpg?ex=661d5017&is=660adb17&hm=22757b2c8da23589604f9e9cf58a2326267209f1912f123a7e140f854d4c32a0&=&format=webp&width=830&height=519"
      alt="Car Bg" class="car-bg" />
    <form @submit.prevent="predictPriceCar" class="form">
      <h1 class="price-text">Predict Price Car</h1>
      <br />
      <table>
        <tr>
          <td>
            <label for="Brand" class="orange-text">Brand :</label>
          </td>
          <td>
            <select id="Brand" v-model="carInput.Brand" class="orange-border input-field">
              <option value="0">Ssangyong</option>
              <option value="1">MG</option>
              <option value="2">BMW</option>
              <option value="3">Mercedes-Benz</option>
              <option value="4">Renault</option>
              <option value="5">Toyota</option>
              <option value="6">Land</option>
              <option value="7">Nissan</option>
              <option value="8">Honda</option>
              <option value="9">Volkswagen</option>
              <option value="10">Mitsubishi</option>
              <option value="11">Ford</option>
              <option value="12">Subaru</option>
              <option value="13">Hyundai</option>
              <option value="14">Jeep</option>
              <option value="15">Volvo</option>
              <option value="16">Mazda</option>
              <option value="17">Abarth</option>
              <option value="18">Holden</option>
              <option value="19">Audi</option>
              <option value="20">Kia</option>
              <option value="21">Mini</option>
              <option value="22">Peugeot</option>
              <option value="23">Suzuki</option>
              <option value="24">Dodge</option>
              <option value="25">Porsche</option>
              <option value="26">Daihatsu</option>
              <option value="27">Isuzu</option>
              <option value="28">Lexus</option>
              <option value="29">Jaguar</option>
              <option value="30">Rolls-Royce</option>
              <option value="31">Skoda</option>
              <option value="32">Fiat</option>
              <option value="33">Haval</option>
              <option value="34">Citroen</option>
              <option value="35">LDV</option>
              <option value="36">HSV</option>
              <option value="37">Foton</option>
              <option value="38">Mahindra</option>
              <option value="39">Maserati</option>
              <option value="40">Alfa</option>
              <option value="41">GWM</option>
              <option value="42">Ram</option>
              <option value="43">Tesla</option>
              <option value="44">Genesis</option>
              <option value="45">Chrysler</option>
              <option value="46">Great</option>
              <option value="47">Opel</option>
              <option value="48">Saab</option>
              <option value="49">Bentley</option>
              <option value="50">Rover</option>
              <option value="51">Ferrari</option>
              <option value="52">Cupra</option>
              <option value="53">Chevrolet</option>
              <option value="54">Lamborghini</option>
              <option value="55">FPV</option>
              <option value="56">McLaren</option>
              <option value="57">Chery</option>
              <option value="58">IvecoHummer</option>
              <option value="59">Infiniti</option>
              <option value="60">BYD</option>
              <option value="61">Tata</option>
              <option value="62">Aston</option>
              <option value="63">Daewoo</option>
              <option value="64">Proton</option>
              <option value="65">Geely</option>
              <option value="66">Smart</option>
              <option value="67">Ineos</option>
              <option value="68">Caterham</option>
              <option value="69">Hino</option>
              <option value="70">International</option>
              <option value="71">Lotus</option>
              <option value="72">Polestar</option>
              <option value="73">Datsun</option>
              <option value="74">Packard</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="Year" class="orange-text">Year :</label>
          </td>
          <td>
            <select id="Year" v-model="carInput.Year" class="orange-border input-field">
              <option value="0">1940</option>
              <option value="1">1959</option>
              <option value="2">1970</option>
              <option value="3">1975</option>
              <option value="4">1978</option>
              <option value="5">1979</option>
              <option value="6">1981</option>
              <option value="7">1984</option>
              <option value="8">1985</option>
              <option value="9">1986</option>
              <option value="10">1989</option>
              <option value="11">1990</option>
              <option value="12">1991</option>
              <option value="13">1992</option>
              <option value="14">1993</option>
              <option value="15">1994</option>
              <option value="16">1995</option>
              <option value="17">1996</option>
              <option value="18">1997</option>
              <option value="19">1998</option>
              <option value="20">1999</option>
              <option value="21">2000</option>
              <option value="22">2001</option>
              <option value="23">2002</option>
              <option value="24">2003</option>
              <option value="25">2004</option>
              <option value="26">2005</option>
              <option value="27">2006</option>
              <option value="28">2007</option>
              <option value="29">2008</option>
              <option value="30">2009</option>
              <option value="31">2010</option>
              <option value="32">2011</option>
              <option value="33">2012</option>
              <option value="34">2013</option>
              <option value="35">2014</option>
              <option value="36">2015</option>
              <option value="37">2016</option>
              <option value="38">2017</option>
              <option value="39">2018</option>
              <option value="40">2019</option>
              <option value="41">2020</option>
              <option value="42">2021</option>
              <option value="43">2022</option>
              <option value="44">2023</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="Model" class="orange-text">Model :</label>
          </td>
          <td>
            <select id="Model" v-model="carInput.Model" class="orange-border input-field">
              <option value="0">Rexton</option>
              <option value="1">MG3</option>
              <option value="2">430I</option>
              <option value="3">E500</option>
              <option value="4">Arkana</option>
              <option value="5">Estima</option>
              <option value="6">Rover</option>
              <option value="7">Pulsar</option>
              <option value="8">86</option>
              <option value="9">Jazz</option>
              <option value="10">HiAce</option>
              <option value="11">City</option>
              <option value="12">Golf</option>
              <option value="13">X3</option>
              <option value="14">Outlander</option>
              <option value="15">118D</option>
              <option value="16">Fiesta</option>
              <option value="17">Amarok</option>
              <option value="18">Outback</option>
              <option value="19">Mirage</option>
              <option value="20">Camry</option>
              <option value="21">3</option>
              <option value="22">I45</option>
              <option value="23">Territory</option>
              <option value="24">Qashqai</option>
              <option value="25">T-Cross</option>
              <option value="26">Tucson</option>
              <option value="27">Focus</option>
              <option value="28">X-Trail</option>
              <option value="29">Corolla</option>
              <option value="30">Yaris</option>
              <option value="31">Grand</option>
              <option value="32">Patriot</option>
              <option value="33">S60</option>
              <option value="34">Triton</option>
              <option value="35">E250</option>
              <option value="36">A250</option>
              <option value="37">CX-5</option>
              <option value="38">Falcon</option>
              <option value="39">595</option>
              <option value="40">CR-V</option>
              <option value="41">I30</option>
              <option value="42">6</option>
              <option value="43">Kluger</option>
              <option value="44">Santa</option>
              <option value="45">Cascada</option>
              <option value="46">ML320</option>
              <option value="47">Lancer</option>
              <option value="48">A5</option>
              <option value="49">RIO</option>
              <option value="50">Cherokee</option>
              <option value="51">Tiguan</option>
              <option value="52">ASX</option>
              <option value="53">220I</option>
              <option value="54">Imax</option>
              <option value="55">XV</option>
              <option value="56">Cooper</option>
              <option value="57">308</option>
              <option value="58">Commodore</option>
              <option value="59">I20</option>
              <option value="60">BT-50</option>
              <option value="61">Vezel</option>
              <option value="62">CX-7</option>
              <option value="63">Renegade</option>
              <option value="64">Elgrand</option>
              <option value="65">Impreza</option>
              <option value="66">X4</option>
              <option value="67">118I</option>
              <option value="68">C-CLASS</option>
              <option value="69">Q7</option>
              <option value="70">Celerio</option>
              <option value="71">Liberty</option>
              <option value="72">C-HR</option>
              <option value="73">Forester</option>
              <option value="74">CX-3</option>
              <option value="75">Cruze</option>
              <option value="76">RAV4</option>
              <option value="77">CLC200</option>
              <option value="78">Journey</option>
              <option value="79">Caddy</option>
              <option value="80">Civic</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="Engine" class="orange-text">Engine :</label>
          </td>
          <td>
            <select id="Engine" v-model="carInput.Engine" class="orange-border input-field">
              <option value="0">4 cyl, 2.2 L</option>
              <option value="1">4 cyl, 1.5 L</option>
              <option value="2">4 cyl, 2 L</option>
              <option value="3">8 cyl, 5.5 L</option>
              <option value="4">4 cyl, 1.3 L</option>
              <option value="5">4 cyl, 1.6 L</option>
              <option value="6">4 cyl, 2.7 L</option>
              <option value="7">4 cyl, 3 L</option>
              <option value="8">4 cyl, 1.4 L</option>
              <option value="9">3 cyl, 1 L</option>
              <option value="10">4 cyl, 2.4 L</option>
              <option value="11">6 cyl, 3 L</option>
              <option value="12">4 cyl, 2.5 L</option>
              <option value="13">3 cyl, 1.2 L</option>
              <option value="14">6 cyl, 2.7 L</option>
              <option value="15">4 cyl, 1.8 L</option>
              <option value="16">6 cyl, 4 L</option>
              <option value="17">6 cyl, 3.5 L</option>
              <option value="18">6 cyl, 3.2 L</option>
              <option value="19">8 cyl, 6 L</option>
              <option value="20">5 cyl, 3.2 L</option>
              <option value="21">4 cyl, 2.3 L</option>
              <option value="22">8 cyl, 4.1 L</option>
              <option value="23">6 cyl, 3.6 L</option>
              <option value="24">4 cyl, 1.2 L</option>
              <option value="25">8 cyl, 4.8 L</option>
              <option value="26">6 cyl, 3.8 L</option>
              <option value="27">5 cyl, 2.5 L</option>
              <option value="28">6 cyl, 3.3 L</option>
              <option value="29">6 cyl, 4.2 L</option>
              <option value="30">3 cyl, 1.5 L</option>
              <option value="31">4 cyl, 2.8 L</option>
              <option value="32">8 cyl, 4.5 L</option>
              <option value="33">12 cyl, 6.6 L</option>
              <option value="34">6 cyl, 3.7 L</option>
              <option value="35">4 cyl, 2.1 L</option>
              <option value="36">3 cyl, 1.3 L</option>
              <option value="37">8 cyl, 4.4 L</option>
              <option value="38">6 cyl, 2.5 L</option>
              <option value="39">8 cyl, 5 L</option>
              <option value="40">8 cyl, 4.2 L</option>
              <option value="41">3 cyl, 1.6 L</option>
              <option value="42">4 cyl, 1.9 L</option>
              <option value="43">0 L</option>
              <option value="44">8 cyl, 4 L</option>
              <option value="45">8 cyl, 5.7 L</option>
              <option value="46">4 cyl, 3.2 L</option>
              <option value="47">2 cyl, 0.9 L</option>
              <option value="48">8 cyl, 6.2 L</option>
              <option value="49">8 cyl, 4.7 L</option>
              <option value="50">6 cyl, 2.4 L</option>
              <option value="51">4 cyl, 1.7 L</option>
              <option value="52">5 cyl, 2.4 L</option>
              <option value="53">8 cyl, 4.6 L</option>
              <option value="54">8 cyl, 6.4 L</option>
              <option value="55">6 cyl, 2.8 L</option>
              <option value="56">6 cyl, 2.9 L</option>
              <option value="57">8 cyl, 5.4 L</option>
              <option value="58">6 cyl, 2.2 L</option>
              <option value="59">8 cyl, 6.8 L</option>
              <option value="60">8 cyl, 5.6 L</option>
              <option value="61">8 cyl, 3.6 L</option>
              <option value="62">8 cyl, 3 L</option>
              <option value="63">6 cyl, 4.5 L</option>
              <option value="64">12 cyl, 5.3 L</option>
              <option value="65">8 cyl, 4.9 L</option>
              <option value="66">8 cyl, 3.8 L</option>
              <option value="67">12 cyl, 6 L</option>
              <option value="68">6 cyl, 2.6 L</option>
              <option value="69">8 cyl, 7.3 L</option>
              <option value="70">2 cyl, 1.3 L</option>
              <option value="71">8 cyl, 4.3 L</option>
              <option value="72">6 cyl, 3.1 L</option>
              <option value="73">5 cyl, 2.9 L</option>
              <option value="74">12 cyl, 6.3 L</option>
              <option value="75">4 cyl, 2.9 L</option>
              <option value="76">10 cyl, 5 L</option>
              <option value="77">4 cyl, 2.6 L</option>
              <option value="78">6 cyl, 4.8 L</option>
              <option value="79">6 cyl, 3.4 L</option>
              <option value="80">8 cyl, 3.9 L</option>
              <option value="81">8 cyl, 6.1 L</option>
              <option value="82">4 cyl</option>
              <option value="83">12 cyl, 6.5 L</option>
              <option value="84">6 cyl, 2.1 L</option>
              <option value="85">12 cyl, 5.7 L</option>
              <option value="86">12 cyl, 5.9 L</option>
              <option value="87">5 cyl, 2 L</option>
              <option value="88">5 cyl, 2.7 L</option>
              <option value="89">3 cyl, 0.7 L</option>
              <option value="90">6 cyl, 7.8 L</option>
              <option value="91">4 cyl, 5.1 L</option>
              <option value="92">6 cyl, 0 L</option>
              <option value="93">6 cyl, 8.9 L</option>
              <option value="94">6 cyl, 9.8 L</option>
              <option value="95">6 cyl, 7.7 L</option>
              <option value="96">2 L</option>
              <option value="97">4 cyl, 4 L</option>
              <option value="98">6 cyl, 6.7 L</option>
              <option value="99">12 cyl, 5.2 L</option>
              <option value="100">4 cyl, 5.2 L</option>
              <option value="101">4 cyl, 3.9 L</option>
              <option value="102">4 cyl, 3.8 L</option>
              <option value="103">3 cyl, 2 L</option>
              <option value="104">10 cyl, 5.2 L</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="height" class="orange-text">Kilometres :</label>
          </td>
          <td>
            <input id="height" type="text" v-model.number="carInput.Kilometres" class="orange-border input-field" />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <br />
            <button type="submit" class="orange-button">Calculate</button>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <br />
            <p class="center price-text">{{ 'Price: ' + resMessage }}</p>
          </td>
        </tr>
      </table>
    </form>
    <p v-if="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
</template>

<style scoped>
.container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.form {
  background-color: #eeeee9dc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.orange-button {
  background-color: rgb(26, 68, 252);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.orange-button:hover {
  background-color: rgb(26, 68, 252);
}

.error {
  color: red;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  text-align: center;
}

.orange-border {
  border: 1px solid rgb(26, 68, 252);
}

.orange-text {
  color: rgb(26, 68, 252);
}

.price-text {
  font-size: 50px;
  color: rgb(26, 68, 252);
}

.car-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}
</style>
